
.img-user-config{
    width: 100%;
}

.img-user-profile{
    border-radius: 25px;
}

.container-avatar{
    width: 40px;
    height: 40px;
    border-radius: 900px;
    overflow: hidden;
}

.container-avatar-conf{
    width: 55px;
    border-radius: 900px;
    overflow: hidden;
}


